.ht-section {
  height: auto;
  width: 100%;
}
.ht-banner {
  background-image: url(/ht-bg.jpeg);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}

.ht-banner-content {
  z-index: 111;
}

.ht-banner-overlay {
  background: rgba(0, 0, 0, 0.479);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.banner-heading {
  color: #fff;
}

.ht-banner-icon a {
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.ht-description-main {
  background: #fff;
  padding: 50px 0;
}

.ht-description-heading {
  color: #2e8d39;
}
