.ht-section {
  height: auto;
  width: 100%;
}
.ht-banner {
  background-image: url(/ht-bg.jpeg);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
}

.ht-banner-content {
  z-index: 111;
}

.ht-banner-overlay {
  background: rgba(0, 0, 0, 0.479);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.banner-heading {
  color: #fff;
}

.ht-banner-info span {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.38px;
  line-height: 16px;
  font-weight: 700;
  border-left: 1px solid #fff;
  padding: 0 10px;
}

.ht-banner-info span:first-child {
  padding: 0;
  padding-right: 10px;
  border-left: none;
}

.ht-banner-btn a {
  background-color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.ht-description-main{
    background: #fff;
    padding: 50px 0;
}

.ht-description-heading{
    color: #2e8d39;
}